* {
  box-sizing: border-box;
}

*:not(#navbar) {
    text-align: center;
}

h1 {
  margin: 0;
}

body {
  margin: 0;
}

.soFancy:hover {
  transform: scale(1.2);
  transition: transform .5s ease-in-out 0ms;
}

.title-image {
  height: calc()
}

@media (min-width: 480px) {
  body {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

#navbar {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: red;
  width: 100vw;
}

.project-links {
  display: flex;
  flex-direction: row;
  flex: wrap;
  justify-content: space-around;
}

.section {
  height: 100vh;
}

.nav-link {
  padding: 5px;
}