* {
  box-sizing: border-box;
}

*:not(#navbar) {
    text-align: center;
}

.title-words {
  margin: 100px;
}

.title-image {
  height: 75%;
}

h1 {
  margin: 0;
}

body {
  margin: 0;
  background: linear-gradient(359.3deg, rgb(196, 214, 252) 1%, rgba(187, 187, 187, 0) 90%);
  background-size: cover;
}

.soFancy:hover {
  transform: scale(1.1);
  transition: transform .5s ease-in-out 0ms;
}

#navbar {
  border-bottom: 1px solid gray;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 100;
  background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  width: 100vw;
}

.project-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-link:hover {
  box-shadow: 10px 4px 16px rgba(0, 0, 0, 0.08);
}

.project-links a {
  color: black;
  text-decoration: none;
}

.project-link {
  border: 1px solid grey;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  border-radius: 10%;
  height: 200px;
  aspect-ratio: 1 / 1;
}

.section {
  height: 100vh;
}

.nav-link {
  padding: 15px;
  color: black;
  text-decoration: none;
}

.small-words {
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.big-words {
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'PT Sans', sans-serif;
}

iframe {
  border-radius: 10%;
}

.about-me-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tile img {
  border-radius: 10%;
  max-height: 300px;
}

.tile {
  padding: 20px;
}

figcaption {
  width: 25% 25%;
}